/** là tất cả mị thứ trên web
text- align text là chữ align sắp xếp
padding là khoảng có trái phải trên dưới 
80px (trên) 20px(bên phải) 20px(bên dưới) 80px(trái)
*/
/*chuẩn hóa để không tự thêm tự code khác biệt của margin và padding
margin thêm cái bên ngoài thuộc nội dung của nó
padding thì ở bên trong nội dung*/
*{
	padding: 0;
	margin: 0;
}
#menu_test{
	background-color: #D28A7C;
	text-align: center;
	padding: 80px;
	color: #FEC397;
}
#contact{
	margin: 30px;
	color: #6D8C8E;
}
#education{
	margin: 30px;
	color: #6D8C8E;
}
#scores{
	margin: 30px;
	color: #6D8C8E;
}
#social{
	margin: 30px;
	color: #6D8C8E;
}

nav{
	background-color: #AEC8CA;
	/*padding: 14px 20px;
	display: */
	overflow: hidden;
	/*overflow là tất cả cái gì chừa ra thì nó sẽ không hiện*/
}

nav a{
	color: #6D8C8E;
	padding: 14px 20px;
	display: block /*lấy toàn bộ chữ thành hàng ngang*/
    text-align: center;
    text-decoration: none;
    /*float: left;*/
    /*có thanh to ở ngoài bao trùm cái nhỏ bên trong*/
}
nav a.menu_left{
	float: left;
}
nav a.menu_right{
	float: right;
}
/*hover là hành động (hơ hơ con chuột gọi là hành động)*/
/*a:hover Dùng để code hiệu ứng css bạn muốn khi để chuột vào*/
nav a:hover{

      background-color: #DDD;
      color: black;
}
#left_side{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 0px 20px 0px 20px;
}
#right_side{
   flex: 70%;
   padding: 10px 20px ;
}

#flex_box{
	display: flex;
	flex-wrap: nowrap;
}
/*nowrap là không gói*/
footer {
	background-color: #6D8C8E;
	color: #E9C3BB;
	padding: 10px 20px ;
	text-align: center;

}
footer > a {
	color: #E9C3BB;

}
table{
	border-style: solid; 
	

}
/*styling the table*/
table{
	border-collapse: collapse;
	width: 50%;
}
table td, table th{
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background: #f2f2f2;}

table tr:hover {background-color: #ddd}

table th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

.course_item{
	/*width: 33%;
	float: left;*/
	text-align: center;
	flex: 33%;
}
.course_img{
	width: 90%;
}
#course_container{
	display: flex;
	flex-wrap: wrap;
}
.course_title{
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}
.course_desc{
	margin: 0px 10px 20px 10px;
	
}
@media(max-width: 800px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_box{
		flex-wrap: wrap;
	}
	.course_item{
		flex: 50%;
	}
}
@media(max-width: 400px){
	#left_side{
		flex: 100%;
	}
	#right_side{
		flex: 100%;
	}
	#flex_box{
		flex-wrap: wrap;
	}
    
	.course_item{
		flex: : 50%;
	}
}

